main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;

}

form button {
    margin-top: 2vh;
    padding: 2vh auto;
}